.fill-remaining-space {
    flex: 1 1 auto;
}

.emunation-logo {
    width: 2.25em;
    height: 2.25em;
    margin: 0px 10px;
    filter: invert(70%) sepia(17%) saturate(486%) hue-rotate(160deg) brightness(94%) contrast(93%);
}

.emunation-title {
    color: #8EB1C7;
    font-size: 2em;
}

.sign-in-button {
    color: #8EB1C7;
}

#userMenu {
    color: #8EB1C7;
}

.default-avatar {
    color: #8EB1C7;
}

.main-navigation {
    background-color: #8EB1C7;
}

.main-content {
    background-color: #EDF2F4;
}

.nav-list {
    padding-top: 0px;
}

.nav-container {
    min-height: 100vh;
}